
<div class="lists">
<app-text-box class="persons-list-textbox">
  <p-table class="persons-list" [value]="registerations" [tableStyle]="{ 'max-width': '100%' }" [paginator]="true" [rows]="5">
    <ng-template #header>
      <tr>
        <th>Qui?</th>
        <th>Quand?</th>
        <th>Quoi?</th>
      </tr>
    </ng-template>
    <ng-template #body let-registeration>
      <tr>
        <td>{{ registeration.name }}</td>
        <td>
          <div *ngFor="let date of registeration.dates">
            Arrival: {{ date.arrival }}, Departure: {{ date.departure }}
          </div>
        </td>
        <td>
          <div *ngFor="let item of registeration.items">
            {{ item.name }} (Quantity: {{ item.quantity }})
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</app-text-box>

<app-text-box class="personal-items-list-textbox">
  <p-table class="personal-items-list">
    <ng-template #header>
      <tr>
        <th>Sur cette période je peux amener?</th>
      </tr>
    </ng-template>
    <ng-template #body>
      <tr>
        <td><p>blablou</p></td>
      </tr>
    </ng-template>
  </p-table>
</app-text-box>
</div>
<app-text-box class="dual-planning-textbox">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0">Qui vient?</p-tab>
      <p-tab value="1">Qu'est-ce qu'on à?</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p-table class ="planning-persons" [value]="registerations" [tableStyle]="{ 'max-width': '100%' }" />
        <ng-template #header>
          <tr>
            <th>Semaine/J</th>
            <th>Lundi</th>
            <th>Mardi</th>
            <th>Mercredi</th>
            <th>Jeudi</th>
            <th>Vendredi</th>
            <th>Samedi</th>
            <th>Dimanche</th>
          </tr>
        </ng-template>
        <ng-template #body>
          <tr>
            <td>S1</td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
          </tr>

          <tr>
            <td>S2</td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
          </tr>

          <tr>
            <td>S3</td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
          </tr>

          <tr>
            <td>S4</td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
          </tr>
          <tr>
            <td>S5</td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
            <td>
              blabla
            </td>
          </tr>
        </ng-template>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p>ezfezffzefzffez</p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</app-text-box>
