<div class="container">
  <header>
    <img class="logo" src="ad_logo.png">
    <nav>
      <a class="nav-element" routerLink="/home"> Le Projet </a>
      <app-dropdown
        [label]="'Infos Pratiques'"
        [items]="dropdownPages"
        [enableCreation]="true"
        dropdownClass="custom-dropdown"
        buttonClass="custom-button"
        menuClass="custom-menu">
      </app-dropdown>
      <img src="ad_title.png" height="90rem" alt="ARMADANUBE" loading="eager">
      <app-dropdown
        [label]="'Inscription & Matos'"
        [items]="dropdownRegistering"
        dropdownClass="custom-dropdown"
        buttonClass="custom-button"
        menuClass="custom-menu">
      </app-dropdown>      <a class="nav-element" routerLink="/contact"> Contact </a>
    </nav>
    <div class="login">
      <p-button label="Se connecter"  [raised]="true" severity="info" />
    </div>
  </header>

  <div class="content">
    <img class="global-background" src="home_background.jpg" width="100%" alt="Image de fond">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>

  <p-toast/>
  <!--  <footer>-->
<!--  <p>&copy; 2025 ArmaDanube Corp.</p>-->
<!--  </footer>-->
</div>
