<!--<app-text-box class="dual-planning-textbox">-->
<!--  <p-tabs value="0">-->
<!--    <p-tablist>-->
<!--      <p-tab value="0">Qui vient?</p-tab>-->
<!--      <p-tab value="1">Qu'est-ce qu'on à?</p-tab>-->
<!--    </p-tablist>-->
<!--    <p-tabpanels>-->
<!--      <p-tabpanel value="0">-->
<!--        <p-table class ="planning-persons" [value]="registrations" [tableStyle]="{ 'max-width': '100%' }" />-->
<!--        <ng-template #header>-->
<!--          <tr>-->
<!--            <th>Semaine/J</th>-->
<!--            <th>Lundi</th>-->
<!--            <th>Mardi</th>-->
<!--            <th>Mercredi</th>-->
<!--            <th>Jeudi</th>-->
<!--            <th>Vendredi</th>-->
<!--            <th>Samedi</th>-->
<!--            <th>Dimanche</th>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--        <ng-template #body>-->
<!--          <tr>-->
<!--            <td>S1</td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--          </tr>-->

<!--          <tr>-->
<!--            <td>S2</td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--          </tr>-->

<!--          <tr>-->
<!--            <td>S3</td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--          </tr>-->

<!--          <tr>-->
<!--            <td>S4</td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>S5</td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--            <td>-->
<!--              blabla-->
<!--            </td>-->
<!--          </tr>-->
<!--        </ng-template>-->
<!--      </p-tabpanel>-->
<!--      <p-tabpanel value="1">-->
<!--        <p>ezfezffzefzffez</p>-->
<!--      </p-tabpanel>-->
<!--    </p-tabpanels>-->
<!--  </p-tabs>-->
<!--</app-text-box>-->
