<app-text-box>
  <div class="contact">
    <h1>L'orga du projet</h1>
    <div class="founders">
      <app-card class="founder" imageSrc="photo_helo.jpg" subtitle="Heloise">
        <p>Front-end developer</p>
      </app-card>
      <app-card class="founder" imageSrc="photo_pilou.jpg" subtitle="Pierre-louis">
        <p>Back-end developer</p>
      </app-card>
      <app-card class="founder" imageSrc="photo_josh.jpg" subtitle="Josué">
        <p>Front-end developer</p>
      </app-card>
      <app-card class="founder" imageSrc="photo_cass.jpg" subtitle="Cassandre">
        <p>Back-end developer</p>
      </app-card>
    </div>

    <div class="contact-info">
      <p>'For general inquiries, please contact info&#64;.com.'</p>
      <p>For technical support, please contact support&#64;.com.</p>
      <p>For media inquiries, please contact media&#64;.com.</p>
    </div>
  </div>
</app-text-box>

