.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.founders {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 90%;
  justify-content: space-around;
}

.founder{
  width: 20%;
}

.contact-info {
  /*margin-top: 1rem;*/
  width: 95%;
  margin: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
