 <app-text-box class="items-list-textbox">
   <p-toolbar styleClass="mb-6">
     <ng-template #start>
       <p-button label="New" icon="pi pi-plus" class="mr-2" (onClick)="createItem()" />
     </ng-template>

     <ng-template #center>
       <h2 class="items-list-title">Liste du Matériel</h2>
     </ng-template>
     <ng-template #end>
       <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV($event)" />
     </ng-template>
   </p-toolbar>
    <p-table class="items-list" [value]="items" [tableStyle]="{ 'max-width': '100%' }" [paginator]="true" [rows]="5">
      <ng-template #header>
        <tr>
          <th [width]="'200px'">Actions </th>
          <th>Matériel</th>
          <th>Type</th>
          <th>Quand?</th>
          <th>Besoins</th>
        </tr>
      </ng-template>
      <ng-template #body let-item>
        <tr>
          <td>
            <p-button class="items-list-action" icon="pi pi-user" severity="warn" (onClick)="editItem(item)" />
            <p-button class="items-list-action" icon="pi pi-trash" severity="danger" (onClick)="deleteItem(item)"/>
            <p-button class="items-list-action" icon="pi pi-calendar" severity="info" (onClick)="editContribution(item)"/>
          </td>
          <td>{{ item.name }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </ng-template>
    </p-table>
  </app-text-box>
